{% extends 'base.html' %}

{% block mainContent %}

{% for post in posts %}

<div class="container-fluid rounded formPost my-3 p-2">
    <div class="d-flex">
        <div class="float-left pr-2">
            <img src={{ post.pic }} alt="" class="rounded profile-pic">
            <div class="text-wrap" style="width: 3rem;">
                <h6 class="text-center">{{ post.username }}</h6>
            </div>
        </div>
        <p>{{ post.content|truncate(500) }}</p>
    </div>
    
    <div class="d-flex">
        <div class="btn-group btn-group-sm order-3" role="group">
            <button type="button" class="btn btn-dark btn-secondary p-0"><span class="material-icons md-36">expand_less</span></button>
            <button type="button" class="btn btn-dark btn-secondary p-0"><span class="material-icons md-36">expand_more</span></button>
            <button type="button" class="btn btn-dark btn-secondary pr-2"><span class="material-icons md-28">add_comment</span></button>
        </div>
        <div class="card p-2 ml-auto order-2">
            <div class="card-body font-weight-bold text-center p-0">24</div>
        </div>
        <div class="order-1 ml-auto">
            <a class="font-weight-bold text-center align-bottom p-0 h-100 mt-auto" href="#">See More</a>
        </div>
    </div>
        
</div>

{% endfor %}

{% endblock %}
 
{% block sidebarLeft %}
<h4 class="p-3 text-right">Form Topics</h4>
<div class="nav flex-column nav-pills left-sidebar float-right m-0" role="tablist" aria-orientation="vertical">
    <a class="nav-link text-sm-right text-center active" data-toggle="pill" href="#v-pills-home" role="tab">The Pub</a>
    <a class="nav-link text-sm-right text-center" data-toggle="pill" href="#v-pills-profile" role="tab">League of Legends</a>
    <a class="nav-link text-sm-right text-center" data-toggle="pill" href="#v-pills-messages" role="tab">Americas Army</a>
    <a class="nav-link text-sm-right text-center" data-toggle="pill" href="#v-pills-test" role="tab">Ark</a>
    <a class="nav-link text-sm-right text-center" data-toggle="pill" href="#v-pills-messages" role="tab">Warzone</a>
</div>
{% endblock %}