{% extends 'base.html' %}

{% block mainContent %}

{% for post in posts %}

<div class="container-fluid rounded formPost clearfix my-3 p-2">
        <div class="float-left pr-2">
            <img src={{ post.pic }} alt="" class="rounded profile-pic">
            <div class="text-wrap" style="width: 3rem;">
                <h6 class="text-center">{{ post.username }}</h6>
            </div>
        </div>
        <div>{{ post.content|truncate(500) }}</div>
</div>

{% endfor %}

{% endblock %}

{% block sidebarLeft %}
<h5 class="text-center pt-3">Form Topics</h1>
<hr class="solid">
<div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
    <a class="nav-link text-sm-right active" data-toggle="pill" href="#v-pills-home" role="tab">The Pub</a>
    <a class="nav-link text-sm-right" data-toggle="pill" href="#v-pills-profile" role="tab">League of Legends</a>
    <a class="nav-link text-sm-right" data-toggle="pill" href="#v-pills-messages" role="tab">Americas Army</a>
</div>
{% endblock %}