body{
    background-color: #303030;
    color: gainsboro;
    padding-top: 55px;
}

.left-sidebar {
    background-color: #303030;
}

.main-content {
    background-color: black;
}

.right-sidebar {
    background-color: #303030;
}

.formPost {
    background-color: #bdbdbd;
    color: black;
}

.profile-pic {
    width: 50px;
    height: 50px;
}

.user-info {
    padding-left: 0;
}